
<html>
    <head>
        <title>Collections</title>
    </head>
    <body>
        <h1>Welcome to your collections</h1>

        <p><a href="/collectibles">Click here</a> to see all of the categories and to add a collectible category.</p>
        <p><a href="/details">Click here</a> to see all of the descriptions and to add a description.</p>

    </body>
</html>
